{% extends 'base_md.html' %}
{% load i18n %}
{% load ontask_tags %}
{% load static %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}{{ block.super }}{{ workflow.name }}{% endblock %}
{% block extrahead %}
<style type="text/css">
  main.mdc-theme--primary-body {
    background: #f5f5f5;
  }
  .page-menu.mdc-card__actions {
    background: white;
  }

  mark{
    background: orange;
    color: black;
  }

</style>
<link rel="stylesheet" type="text/css" href="{% static "site/css/bootstrapbackport.css" %}">
<link href="{% static 'site/css/query-builder.default.min.css' %}" rel="stylesheet">
<link href="{% static 'site/font/fontawesome-embedded.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-lite.css" />
{% endblock extrahead %}
{% block scripts %}
{#  <script src="{% static 'action/js/action.js' %}?v={% ontask_version %}"></script>#}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.3.0/fuse.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
  <script src="{% static 'site/js/query-builder.standalone.min.js' %}"></script>
  <script src="{% static 'summernote/summernote-lite.min.js' %}"></script>
  <script type="text/javascript">
    // Constants loaded from backend
    const filterurl = {% if filter_condition %}"{% url 'action:edit_filter' filter_condition.id %}"{% else %}"{% url 'action:create_filter' action.id %}"{% endif %};
  </script>
  <script src="{% static 'action/js/action_md.js' %}?v={% ontask_version %}"></script>
  <script type="text/javascript">
    function shadeColor2(color, percent) {   
      var f=parseInt(color.slice(1),16),t=percent<0?0:255,p=percent<0?percent*-1:percent,R=f>>16,G=f>>8&0x00FF,B=f&0x0000FF;
      return "#"+(0x1000000+(Math.round((t-R)*p)+R)*0x10000+(Math.round((t-G)*p)+G)*0x100+(Math.round((t-B)*p)+B)).toString(16).slice(1);
    }

    Math.seedrandom("{{workflow.id}}");
    var bodycolor = materialColor();
    $(".page-title").css("background",shadeColor2(bodycolor,0.3));
    // $("main.mdc-theme--primary-body").css("background",shadeColor2(bodycolor,0.3));

    $(".siderail").on({
      mouseenter: (e) => {
      $("main").addClass("siderail-hover-expand")
      },
      mouseleave: (e) => {
      $("main").removeClass("siderail-hover-expand")
      }
    });

    const createmenu = new mdc.menu.MDCMenu(document.querySelector('.createmenu'));

    $(".steps-tab-bar").on("MDCTabBar:activated", event => {
      let idx = event.detail.index;
      $(".step-content--item").removeClass("active");
      $("#step-content-" + idx).addClass("active");
    });

    var qbuilder_options = {
      plugins: ['not-group'],
      operators: ['equal', 'not_equal', 'less', 'less_or_equal',
                  'greater', 'greater_or_equal', 'between', 'not_between',
                  'begins_with', 'not_begins_with', 'contains', 'not_contains',
                  'ends_with', 'not_ends_with', 'is_empty', 'is_not_empty'],
      allow_empty: false,
      filters: {{ query_builder_ops|safe }},
      icons: {
        add_group: 'icon-plus-squared',
        add_rule: 'icon-plus-circled',
        remove_group: 'icon-minus-squared',
        remove_rule: 'icon-minus-circled',
        error: 'icon-attention'
      }
    };
    $(document).ready(function() {
      if (document.getElementById("id_content") != null) {
        initSummernote();
      }
    });
    $("#id_content").on("summernote.paste",function(e,ne) {
      var bufferText = ((ne.originalEvent || ne).clipboardData || window.clipboardData).getData('Text');
      ne.preventDefault();
      document.execCommand('insertText', false, bufferText);
    });
  </script>
{% endblock %}
{% block heading %}
  <div class="page-title">
    <a href="{% url 'action:index' %}" class="mdc-fab btn-back" aria-label="Favorite">
      <span class="mdc-fab__icon material-icons">arrow_back</span>
    </a>
    <h1 class="mdc-typography--headline3">
      Edit {{ action.name }}
      <small>{{ workflow.name }}</small></small>
    </h1>
    <div class="page-title-menu">
      <div class="manage-data mdc-menu-surface--anchor">
        <button class="mdc-button" data-mdc-auto-init="MDCRipple" onclick="createmenu.open = !createmenu.open">
          <i class="material-icons mdc-button__icon">arrow_drop_down</i>
          Manage Data
        </button>
        <div class="mdc-menu mdc-menu-surface createmenu" tabindex="-1">
          <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical">
            <li class="mdc-list-item" role="menuitem">
              <span class="mdc-list-item__text">A Menu Item</span>
            </li>
            <li class="mdc-list-item" role="menuitem">
              <span class="mdc-list-item__text">Another Menu Item</span>
            </li>
          </ul>
        </div>
      </div>
      <button class="mdc-button mdc-button--raised action-add" data-mdc-auto-init="MDCRipple">
        <i class="material-icons mdc-button__icon">add</i>
        New Action
      </button> 
    </div>
  </div>
{% endblock heading %}
{% block container %}
    <div class="mdc-layout-grid__cell--span-12 mdc-card workflow-actions">
      <div class="workflow-card__primary">
        <div class="mdc-tab-bar steps-tab-bar" role="tablist" data-mdc-auto-init="MDCTabBar">
          <div class="mdc-tab-scroller">
            <div class="mdc-tab-scroller__scroll-area">
              <div class="mdc-tab-scroller__scroll-content">
                <button class="mdc-tab mdc-tab--stacked mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
                  <span class="mdc-tab__content">
                    <span class="mdc-tab__icon material-icons" aria-hidden="true">filter_list</span>
                    <span class="mdc-tab__text-label">Filter</span>
                  </span>
                  <span class="mdc-tab-indicator mdc-tab-indicator--active">
                    <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                  </span>
                  <span class="mdc-tab__ripple"></span>
                </button>
                <button class="mdc-tab mdc-tab--stacked" role="tab" tabindex="1">
                  <span class="mdc-tab__content">
                    <span class="mdc-tab__icon material-icons" aria-hidden="true">widgets</span>
                    <span class="mdc-tab__text-label">Conditions</span>
                  </span>
                  <span class="mdc-tab-indicator">
                    <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                  </span>
                  <span class="mdc-tab__ripple"></span>
                </button>
                <button class="mdc-tab mdc-tab--stacked" role="tab" tabindex="1">
                  <span class="mdc-tab__content">
                    <span class="mdc-tab__icon material-icons" aria-hidden="true">notes</span>
                    <span class="mdc-tab__text-label">Text</span>
                  </span>
                  <span class="mdc-tab-indicator">
                    <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                  </span>
                  <span class="mdc-tab__ripple"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="step-content">
          <div class="step-content--item active" id="step-content-0">
            {% include 'action/includes/md_partial_filter_create_buttons.html' %}
            <div id="filter-edit"></div>
          </div>
          <div class="step-content--item" id="step-content-1">
          </div>
          <div class="step-content--item" id="step-content-2">
            <div id="html-editor" class="row">
              {% include 'action/includes/partial_action_edit_out_attributes_columns.html' %}
              <form action="" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {{ form|safe }}
                {% include 'action/includes/partial_action_preview_done_buttons.html' %}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock container %}
