{% extends 'base_md.html' %}
{% load i18n %}
{% load ontask_tags %}
{% load static %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}{{ block.super }}{{ workflow.name }}{% endblock %}
{% block extrahead %}
<style type="text/css">
  main.mdc-theme--primary-body {
    background: #f5f5f5;
  }
  .page-menu.mdc-card__actions {
    background: white;
  }

  mark{
    background: orange;
    color: black;
  }

</style>
<link rel="stylesheet" type="text/css" href="{% static "site/css/bootstrapbackport.css" %}">
<link href="{% static 'site/css/query-builder.default.min.css' %}" rel="stylesheet">
<link href="{% static 'site/font/fontawesome-embedded.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-lite.css" />
{% endblock extrahead %}
{% block scripts %}
{#  <script src="{% static 'action/js/action.js' %}?v={% ontask_version %}"></script>#}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.3.0/fuse.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
  <script src="{% static 'site/js/query-builder.standalone.min.js' %}"></script>
  <script src="{% static 'summernote/summernote-lite.min.js' %}"></script>
  <script type="text/javascript">
    // Constants loaded from backend
    const filterurl = {% if filter_condition %}"{% url 'action:edit_filter' filter_condition.id %}"{% else %}"{% url 'action:create_filter' action.id %}"{% endif %};
  </script>
  <script src="{% static 'action/js/action_md.js' %}?v={% ontask_version %}"></script>
  <script type="text/javascript">
    const dialog = new mdc.dialog.MDCDialog(document.querySelector('.mdc-dialog'));
    function shadeColor2(color, percent) {   
      var f=parseInt(color.slice(1),16),t=percent<0?0:255,p=percent<0?percent*-1:percent,R=f>>16,G=f>>8&0x00FF,B=f&0x0000FF;
      return "#"+(0x1000000+(Math.round((t-R)*p)+R)*0x10000+(Math.round((t-G)*p)+G)*0x100+(Math.round((t-B)*p)+B)).toString(16).slice(1);
    }

    Math.seedrandom("{{workflow.id}}");
    var bodycolor = materialColor();
    $(".page-title").css("background",shadeColor2(bodycolor,0.3));
    // $("main.mdc-theme--primary-body").css("background",shadeColor2(bodycolor,0.3));

    $(".siderail").on({
      mouseenter: (e) => {
      $("main").addClass("siderail-hover-expand")
      },
      mouseleave: (e) => {
      $("main").removeClass("siderail-hover-expand")
      }
    });


    $(".steps-tab-bar").on("MDCTabBar:activated", event => {
      let idx = event.detail.index;
      $(".step-content--item").removeClass("active");
      $("#step-content-" + idx).addClass("active");
    });

    var qbuilder_options = {
      plugins: ['not-group'],
      operators: ['equal', 'not_equal', 'less', 'less_or_equal',
                  'greater', 'greater_or_equal', 'between', 'not_between',
                  'begins_with', 'not_begins_with', 'contains', 'not_contains',
                  'ends_with', 'not_ends_with', 'is_empty', 'is_not_empty'],
      allow_empty: false,
      filters: {{ query_builder_ops|safe }},
      icons: {
        add_group: 'icon-plus-squared',
        add_rule: 'icon-plus-circled',
        remove_group: 'icon-minus-squared',
        remove_rule: 'icon-minus-circled',
        error: 'icon-attention'
      }
    };
    $(document).ready(function() {
      if (document.getElementById("id_content") != null) {
        initSummernote();
      }
    });
    $("#id_content").on("summernote.paste",function(e,ne) {
      var bufferText = ((ne.originalEvent || ne).clipboardData || window.clipboardData).getData('Text');
      ne.preventDefault();
      document.execCommand('insertText', false, bufferText);
    });

    const steps = new mdc.tabBar.MDCTabBar(document.querySelector(".mdc-tab-bar"));
    var step;
    if(window.location.hash && window.location.hash.match(/step(\d)/)) {
        step = window.location.hash.match(/step(\d)/)[1];
        steps.activateTab(parseInt(step)-1)
    }
    document.querySelector(".mdc-tab-bar").addEventListener("MDCTabBar:activated", (e) => {
        console.log(e);
        step = e.detail.index;
        window.location.hash = "#step" + (step + 1).toString();
    })

    const list = new mdc.list.MDCList(document.getElementById('condition-list'));
    list.singleSelection = true;
    if ($("#condition-list .mdc-list-item--selected").length) {
        loadcondition();
    } else {
        loadcondition(url=$("#condition-list .js-condition-create").data("url"));
    }
    $("#condition-list .mdc-list-item").on("click", function(){
        if($(this).data("url") == $("#condition-list .mdc-list-item--selected").data("url")) return;
        loadcondition(url=$(this).data("url"));
    });
  </script>
{% endblock %}
{% block heading %}
  <div class="page-title">
    <a href="{% url 'action:index' %}" class="mdc-fab btn-back" aria-label="Favorite">
      <span class="mdc-fab__icon material-icons">arrow_back</span>
    </a>
    <h1 class="mdc-typography--headline3">
      Edit {{ action.name }}
      <small>{{ workflow.name }}</small></small>
    </h1>
  </div>
{% endblock heading %}
{% block container %}
    <div class="mdc-layout-grid__cell--span-12 mdc-card workflow-actions">
      <div class="workflow-card__primary">
        <div class="mdc-tab-bar steps-tab-bar" role="tablist" data-mdc-auto-init="MDCTabBar">
          <div class="mdc-tab-scroller">
            <div class="mdc-tab-scroller__scroll-area">
              <div class="mdc-tab-scroller__scroll-content">
                <button class="mdc-tab mdc-tab--stacked mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
                  <span class="mdc-tab__content">
                    <span class="mdc-tab__icon material-icons" aria-hidden="true">filter_list</span>
                    <span class="mdc-tab__text-label">Filter</span>
                  </span>
                  <span class="mdc-tab-indicator mdc-tab-indicator--active">
                    <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                  </span>
                  <span class="mdc-tab__ripple"></span>
                </button>
                <button class="mdc-tab mdc-tab--stacked" role="tab" tabindex="1">
                  <span class="mdc-tab__content">
                    <span class="mdc-tab__icon material-icons" aria-hidden="true">widgets</span>
                    <span class="mdc-tab__text-label">Conditions</span>
                  </span>
                  <span class="mdc-tab-indicator">
                    <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                  </span>
                  <span class="mdc-tab__ripple"></span>
                </button>
                <button class="mdc-tab mdc-tab--stacked" role="tab" tabindex="1">
                  <span class="mdc-tab__content">
                    <span class="mdc-tab__icon material-icons" aria-hidden="true">notes</span>
                    <span class="mdc-tab__text-label">Text</span>
                  </span>
                  <span class="mdc-tab-indicator">
                    <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                  </span>
                  <span class="mdc-tab__ripple"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="step-content">
          <div class="step-content--item active" id="step-content-0">
            {% if filter_condition %}
                <form method="post" action="{% url 'action:delete_filter' filter_condition.id %}" class="js-filter-delete-form">
                  {% csrf_token %}
                    <button type="submit" class="mdc-button pull-right mdc-button__danger">
                        <i class="material-icons mdc-button__icon" aria-hidden="true">delete_forever</i>
                        Delete Fitler
                    </button>
                </form>
            {% endif %}
            <h4 class="mdc-typography--headline4 mdc-typography--headlinetop">
                {% if filter_condition %}
                    {{ filter_condition.name }} <small>{% blocktrans with n=selected_rows tot=total_rows count counter=selected_rows %}({{ n }} learner of {{ tot }}){% plural %}({{ n }} learners of {{ tot }}){% endblocktrans %}</small>
                {% else %}
                    {% trans 'Filter learners' %} {% blocktrans with n=selected_rows tot=total_rows count counter=selected_rows %}({{ tot }} learner of {{ tot }}){% plural %}({{ tot }} learners of {{ tot }}){% endblocktrans %}
                {% endif %}
            </h4>
            {% if filter_condition %}
              {% if selected_rows == 0 %}
                <div class="alert-danger">
                  <p>{% trans 'The filter excludes all learners!' %}</p>
                </div>
              {% endif %}
            {% else %}
              <div class="alert-info">
                <p>{% trans 'All learners considered for this action.' %}</p>
              </div>
            {% endif %}
            <div id="filter-edit"></div>
          </div>
          <div class="step-content--item" id="step-content-1">
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell">
                        <ul class="mdc-list" id="condition-list">
                        <li class="mdc-list-item js-condition-create" role="option" data-url="{% url 'action:create_condition' action.id %}">
                            <span class="mdc-list-item__graphic material-icons" aria-hidden="true">add</span>
                            <span class="mdc-list-item__text">
                                Create a new Condition
                            </span>
                        </li>
                          {% for condition in conditions %}
                          <li class="mdc-list-item{% if forloop.first %} mdc-list-item--selected" aria-selected="true"{% else %}"{% endif %} tabindex="0" role="option" data-url="{% url 'action:edit_condition' condition.id %}" title="{% blocktrans with n=condition.n_rows_selected %}Edit the condition ({{ n }} rows satisfy this condition){% endblocktrans %}">
                            <span class="mdc-list-item__text">
                                <strong>{{ condition.name }}</strong> {% blocktrans with n=condition.n_rows_selected count counter=condition.n_rows_selected %}({{ n }} learner){% plural %}({{ n }} learners){% endblocktrans %}
                            </span>
                          </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
                        <div id="condition-info"></div>
                    </div>
                </div>
                </div>
          </div>
          <div class="step-content--item" id="step-content-2">
            <div id="html-editor" class="row">
              {% include 'action/includes/partial_action_edit_out_attributes_columns.html' %}
              <form action="" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {{ form|safe }}
                  <button type="button"
                          class="mdc-button mdc-button--raised js-action-preview {% if selected_rows == 0 %}disabled{% endif %}"
                          style="margin-right:2ex;"
                          data-url="{% url 'action:preview' action.id 1 %}"
                          data-toggle="tooltip"
                      title="{% trans 'See how is the content shown to each learner' %}">
                    <span class="glyphicon glyphicon-eye-open"></span> {% trans 'Preview' %}
                  </button>
                  <button type="submit" name="Submit" value="Submit"
                          class="mdc-button mdc-button--raised spin"
                          data-toggle="tooltip"
                          title="{% trans 'Save and go back' %}">
                    <span class="glyphicon glyphicon-ok"></span> {% trans 'Save' %}</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mdc-dialog"
         id="preview-window"
         role="alertdialog"
         aria-modal="true"
         aria-labelledby="dialog-title"
         aria-describedby="dialog-content"
         data-mdc-auto-init="MDCDialog">
      <div class="mdc-dialog__container">
        <div class="mdc-dialog__surface">
          <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
          <h2 class="mdc-dialog__title" id="dialog-title"><!--
         -->Dialog Title<!--
       --></h2>
          <div class="mdc-dialog__content" id="dialog-content">
            Dialog body text goes here.
          </div>
          <footer class="mdc-dialog__actions">
            <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="no">No</button>
            <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="yes">Yes</button>
          </footer>
        </div>
      </div>
      <div class="mdc-dialog__scrim"></div>
{% endblock container %}
