{% extends 'base_md.html' %}
{% load i18n %}
{% load ontask_tags %}
{% load static %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}{{ block.super }}{{ workflow.name }}{% endblock %}
{% block extrahead %}
<style type="text/css">
	main.mdc-theme--primary-body {
		background: #f5f5f5;
	}
	.page-menu.mdc-card__actions {
		background: white;
	}

	mark{
		background: orange;
		color: black;
	}

</style>
{% endblock extrahead %}
{% block scripts %}
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.3.0/fuse.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
	<script type="text/javascript">
		function shadeColor2(color, percent) {   
			var f=parseInt(color.slice(1),16),t=percent<0?0:255,p=percent<0?percent*-1:percent,R=f>>16,G=f>>8&0x00FF,B=f&0x0000FF;
			return "#"+(0x1000000+(Math.round((t-R)*p)+R)*0x10000+(Math.round((t-G)*p)+G)*0x100+(Math.round((t-B)*p)+B)).toString(16).slice(1);
		}

		Math.seedrandom("{{workflow.id}}");
		var bodycolor = materialColor();
		$(".page-title").css("background",shadeColor2(bodycolor,0.3));
		// $("main.mdc-theme--primary-body").css("background",shadeColor2(bodycolor,0.3));

		$(".siderail").on({
			mouseenter: (e) => {
			$("main").addClass("siderail-hover-expand")
			},
			mouseleave: (e) => {
			$("main").removeClass("siderail-hover-expand")
			}
		});

		const createmenu = new mdc.menu.MDCMenu(document.querySelector('.createmenu'));

		const options = {
			"shouldSort": true,
			"includeMatches": false,
			"threshold": 0.6,
			"location": 0,
			"distance": 100,
			"maxPatternLength": 32,
			"minMatchCharLength": 1,
			"keys": [
				"text"
			]
		};
		const all = $(".action-list .action-item .mdc-list-item");
		const list = all.map( (i) =>{
			return {
				elem: all[i],
				text: $(all[i]).text(),
			}
		}).get();
		var fuse = new Fuse(list, options); // "list" is the item array

		$(".actions-search-field").on("input", (event) => {
			let search = event.target.value;
			if (search.length < 1) {
				$(all).show();
				$(".action-list").unmark();
				return
			}
			// Search the text in each item in 'all' for the text in 'search'.
			let results = fuse.search(search);
			let allfound = results.map( e => e.elem );
			let notfound = all.get().filter( e => !allfound.includes(e) );
			$(allfound).show();
			$(notfound).hide();
			// Highlight the results
			$(".action-list").mark(search, {"separateWordSearch": true, "acrossElements": true});
		});
	</script>
{% endblock %}
{% block heading %}
	<div class="page-title">
		<h1 class="mdc-typography--headline2">{{ workflow.name }}
			<small>2018 Semester 1</small>
		</h1>
		<div class="page-title-menu">
			<div class="manage-data mdc-menu-surface--anchor">
				<button class="mdc-button" data-mdc-auto-init="MDCRipple" onclick="createmenu.open = !createmenu.open">
					<i class="material-icons mdc-button__icon">arrow_drop_down</i>
				  Manage Data
				</button>
				<div class="mdc-menu mdc-menu-surface createmenu" tabindex="-1">
					<ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical">
						<li class="mdc-list-item" role="menuitem">
							<span class="mdc-list-item__text">A Menu Item</span>
						</li>
						<li class="mdc-list-item" role="menuitem">
							<span class="mdc-list-item__text">Another Menu Item</span>
						</li>
					</ul>
				</div>
			</div>
			<button class="mdc-button mdc-button--raised action-add" data-mdc-auto-init="MDCRipple">
				<i class="material-icons mdc-button__icon">add</i>
				New Action
			</button> 
		</div>
	</div>
{% endblock heading %}
{% block container %}
    {# Workflows #}

    {% if no_actions %}
    <div class="mdc-layout-grid__cell--span-12 mdc-card workflow-actions">
    	<h4>No Recent actions! Start by creating some in a workflow...</h4>
    </div>
    {% else %}
    <div class="mdc-layout-grid__cell--span-12 mdc-card workflow-actions">
		<div class="actions-menu mdc-card__actions">
			<div class="mdc-card__action-buttons workflow-actions-search" data-mdc-auto-init="MDCTextField">
				<div class="mdc-text-field mdc-text-field--fullwidth">
				  <input class="mdc-text-field__input actions-search-field"
				         type="text"
				         placeholder="Search..."
				         aria-label="Search">
				</div>
			</div>
		</div>
		<ul class="mdc-list action-list" aria-orientation="vertical">
			{% for action in qset %}
				<a href="{% url 'action:edit' pk=action.id %}" class="action-item" id="{{action.id}}"><li class="mdc-list-item">
					{% if action.action_tval == 'personalized_text' %}
						<span class="mdc-list-item__graphic {{action.action_tval}} material-icons" aria-hidden="true" title="{{action.action_type}}">short_text</span>
					{% elif action.action_tval == 'personalized_json' %}
						<span class="mdc-list-item__graphic {{action.action_tval}} material-icons" aria-hidden="true" title="{{action.action_type}}">code</span>
					{% elif action.action_tval == 'survey' %}
						<span class="mdc-list-item__graphic {{action.action_tval}} material-icons" aria-hidden="true" title="{{action.action_type}}">poll</span>
					{% elif action.action_tval == 'todo_list' %}
						<span class="mdc-list-item__graphic {{action.action_tval}} material-icons" aria-hidden="true" title="{{action.action_type}}">timer</span>
					{% endif %}
					<span class="mdc-list-item__text action-info">
						<div class="action-title">{{action.name|truncatechars:24}}</div>
						<div class="action-description">{{action.description_text|truncatechars:140}}</div>
					</span>
					<span class="mdc-list-item__meta action-item-date" title="{{action.modified}}">{{action.modified|date:"d/m/y"}}</span>
				</li></a>
			{% endfor %}
		</ul>
    </div>
    {% endif %}
{% endblock container %}
