{% load i18n %}
<form method="post" action="{% url 'action:create' %}"
      class="js-action-create-form">
  {% csrf_token %}
  <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
  <h2 class="mdc-dialog__title" id="dialog-title"><!--
 -->{% trans 'Create a new action' %}<!--
--></h2>
  <div class="mdc-dialog__content" id="dialog-content">
    {% include 'action/includes/partial_form_fields.html' %}
  </div>
  <footer class="mdc-dialog__actions">
    <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="no">{% trans 'Cancel' %}</button>
    <button class="mdc-button mdc-dialog__button" data-mdc-dialog-action="yes" type="submit">{% trans 'Create action' %}</button>
  </footer>
</form>
