{% load i18n %}
<form method="post" 
  {% if add %}
    action="{% url 'action:create_filter' action_id %}" 
    class="js-filter-create-form"
  {% else %}
    action="{% url 'action:edit_filter' condition_id %}" 
    class="js-filter-edit-form"
  {% endif %}>
  {% csrf_token %}
  <div class="modal-body">
    {% include 'action/includes/partial_form_fields.html' %}
    <div id="builder"></div>
  </div>
<button type="submit" class="mdc-button mdc-button--raised">
  {% if add %}
    <span class="glyphicon glyphicon-ok"></span> {% trans 'Create filter' %}</button>
  {% else %}
    <span class="glyphicon glyphicon-ok"></span> {% trans 'Update' %}</button>
  {% endif %}
</form>
