{% load i18n %}
<div id="attribute-names" style="margin-bottom:1ex;">
  {% if attribute_names %}
    <div class="mdc-select mdc-select--outlined" data-mdc-auto-init="MDCSelect">
        <i class="mdc-select__dropdown-icon"></i>
        <select id="select-attribute-name" class="mdc-select__native-control">
          <option value="" disabled selected></option>
          {% for attr in attribute_names %}
            <option value="{{ attr }}">{{ attr }}</option>
          {% endfor %}
        </select>
        <div class="mdc-notched-outline">
            <div class="mdc-notched-outline__leading"></div>
            <div class="mdc-notched-outline__notch">
                <label class="mdc-floating-label">{% trans 'Insert:' %} {% trans 'Attribute' %}</label>
            </div>
        <div class="mdc-notched-outline__trailing"></div>
        </div>
    </div>
  {% endif %}
  <div class="mdc-select mdc-select--outlined" data-mdc-auto-init="MDCSelect">
      <i class="mdc-select__dropdown-icon"></i>
      <select id="select-column-name" class="mdc-select__native-control" style="width: 200px;">
        <option value="" disabled selected></option>
        {% for colname in column_names %}
          <option value="{{ colname }}">{{ colname }}</option>
        {% endfor %}
      </select>
      <div class="mdc-notched-outline">
          <div class="mdc-notched-outline__leading"></div>
          <div class="mdc-notched-outline__notch">
            <label class="mdc-floating-label">{% trans 'Insert:' %} {% trans 'Column Value' %}</label>
          </div>
      <div class="mdc-notched-outline__trailing"></div>
      </div>
  </div>
</div>
