{% load i18n %}
<form method="post" action="{% url 'action:delete_condition' condition_id %}" class="js-condition-delete-form">
    {% csrf_token %}
    <button type="submit" class="mdc-button pull-right mdc-button__danger">
        <i class="material-icons mdc-button__icon" aria-hidden="true">delete_forever</i>
        Delete Condition
    </button>
</form>
<form method="post"
  {% if add %}
    action="{% url 'action:create_condition' action_id %}" 
    class="js-condition-create-form"
  {% else %}
    action="{% url 'action:edit_condition' condition_id %}" 
    class="js-condition-edit-form"
  {% endif %}>
  {% csrf_token %}
    <h4 class="mdc-typography--headline4">
     {% if add %}
       {% trans 'Create condition' %}
     {% else %}
       {% trans 'Edit condition' %}
     {% endif %}</h4>
  <div class="modal-body">
    {% include 'action/includes/partial_form_fields.html' %}
    <div id="builder"></div>
  </div>
    <button type="submit" class="mdc-button mdc-button--raised pull-right">
      <span class="glyphicon glyphicon-ok"></span> 
      {% if add %}
        {% trans 'Create condition' %}
      {% else %}
        {% trans 'Update condition' %}{% endif %}</button>
</form>
