/* Material Design Theme */
:root {
  --mdc-theme-primary: #337ab7;
  --mdc-theme-secondary: #8fe8d8;
  --mdc-theme-on-secondary: black;
  --right-panel-width: 115px;
}

.mdc-theme--primary-bg-dark {
  background-color: #004e87;
}
.mdc-theme--primary-bg-light {
  background-color: #6ca9ea;
}
.mdc-theme--secondary-bg-dark {
  background-color: #5bb5a3;
}
.mdc-theme--secondary-bg-light {
  background-color: #c0ffff;
}

.mdc-theme--primary-body {
  background-color: #337ab7;
  padding: 0;
}

body {
  background-color: #337ab7;
  padding: 0 !important;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}

.siderail-item {
    display: block;
    width: 100%;
    height: 70px;
    padding: 0;
    /*transition: 0.3s ease all;*/
    text-decoration: none;
    box-sizing: border-box;
    border-right: 0px solid white;
    z-index: 1;
    background: #004e87;
    transition: 0.3s ease all;
}

.siderail-item .item-icon.material-icons {
    font-size: 64px;
    text-align: center;
    margin: 19px 0;
}

.siderail-open .siderail-item.mdc-list-item--activated {
    height: 105px;
    border-right-width: 5px;
}

.siderail-item .item-icon {
    display: block;
    color: #8fe8d8;
}

.siderail-item .item-icon img {
    width: 100%;
    height: auto;
}

.siderail-item .item-icon.material-icons {
    font-size: 34px;
    text-align: center;
    margin: 19px 0;
    width: var(--right-panel-width);
}

.siderail-item.mdc-list-item--activated .item-icon.material-icons {
  color: white;
}

.siderail-item .item-text {
  width: 100%;
  text-align: center;
  display: block;
  color: white;
  opacity: 0;
  visibility: hidden;
  position: relative;
  top: -2em;
  /*transition: 0.3s ease all;*/
  /* text-transform: uppercase; */
  font-weight: bold;
  font-size: 16px;
}

.siderail {
    width: var(--right-panel-width);
    margin: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    transition: 0.33s ease all;
    z-index: 0;
}

main {
    width: calc(100% - var(--right-panel-width));
    height: 100%;
    position: absolute;
    right: 0;
    overflow-y: auto;
    transition: 0.33s ease all;
    box-sizing: border-box;
    margin: 0 auto;
}

/*JQuery QueryBuilder Without Bootstrap*/
.query-builder, .query-builder * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.query-builder {
  font-family: sans-serif;
}

.query-builder .hide {
  display: none;
}

.pull-left{
  float: left !important;
}

.pull-right {
  float: right !important;
}

.query-builder .btn {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0,0,0,.12);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: Roboto,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: .875rem;
    line-height: 2.25rem;
    font-weight: 500;
    letter-spacing: .0892857143em;
    text-decoration: none;
    text-transform: uppercase;
    --mdc-ripple-fg-size: 0;
    --mdc-ripple-left: 0;
    --mdc-ripple-top: 0;
    --mdc-ripple-fg-scale: 1;
    --mdc-ripple-fg-translate-end: 0;
    --mdc-ripple-fg-translate-start: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    will-change: transform,opacity;
    padding: 0 8px 0 8px;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-width: 64px;
    height: 36px;
    border: none;
    outline: none;
    line-height: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    overflow: hidden;
    vertical-align: middle;
    border-radius: 4px;
    height: 32px;
    font-size: .8125rem;
    border-radius: 4px;
}

.query-builder .btn.focus, .query-builder .btn:focus, .query-builder .btn:hover {
  color: #333;
  text-decoration: none;
}

.query-builder .btn.active, .query-builder .btn:active {
  background-image: none;
  outline: 0px none;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset;
}

.query-builder .btn-success {
  color: #FFF;
  background-color: #5CB85C;
  border-color: #4CAE4C;
}

.query-builder .btn-primary {
  color: #FFF;
  background-color: #337AB7;
  border-color: #2E6DA4;
}

.query-builder .btn-danger {
  color: #FFF;
  background-color: #D9534F;
  border-color: #D43F3A;
}

.query-builder .btn-success.active, .query-builder .btn-success.focus,
.query-builder .btn-success:active, .query-builder .btn-success:focus,
.query-builder .btn-success:hover {
  color: #FFF;
  background-color: #449D44;
  border-color: #398439;
}

.query-builder .btn-primary.active, .query-builder .btn-primary.focus,
.query-builder .btn-primary:active, .query-builder .btn-primary:focus,
.query-builder .btn-primary:hover {
  color: #FFF;
  background-color: #286090;
  border-color: #204D74;
}

.query-builder .btn-danger.active, .query-builder .btn-danger.focus,
.query-builder .btn-danger:active, .query-builder .btn-danger:focus,
.query-builder .btn-danger:hover {
  color: #FFF;
  background-color: #C9302C;
  border-color: #AC2925;
}

.query-builder .btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.query-builder .btn-group > .btn {
  position: relative;
  float: left;
}

.query-builder .btn-group > .btn:first-child {
  margin-left: 0px;
}

.query-builder .btn-group > .btn:first-child:not(:last-child) {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.query-builder .btn-group > .btn:last-child:not(:first-child) {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.query-builder .btn-group .btn + .btn, .query-builder .btn-group .btn + .btn-group,
.query-builder .btn-group .btn-group + .btn, .query-builder .btn-group .btn-group + .btn-group {
  margin-left: -1px;
}

.query-builder .btn-xs, .query-builder .btn-group-xs > .btn {
    line-height: 0.2rem !important;
}

/* Tweaks for JQuery QueryBuilder

/* Needed to fix rendering of jQuery QueryBuilder in Popup */
dt div.btn-group,
dt div.btn-group-vertical {
    display: flow-root;
}
/* Clause var op value*/
.query-builder .rules-list {
    text-align:left;
}



.siderail-open .siderail-item.mdc-list-item--activated .item-text, .siderail-item.logo .item-text {
    top: -0.5em;
    opacity: 1;
    visibility: visible;
    font-size: 1.1em;
}

.logo span.item-icon, .logo svg {
    height: 100%;
    text-align: center;
    width: var(--right-panel-width);
    top: -0.5em;
    position: relative;
}

.workflow-card__primary.mdc-card__media {
    padding: 0 2em;
    color: white;
    text-decoration: none;
    background: rgb(49, 49, 49);
    transition: 0.3s ease background;
    height: calc(100% - 52px);
}

.siderail-item.logo {
    height: 105px;
    position: relative;
}

.section-title {
    color: white;
    margin-bottom: 0;
}

.create-card .align-center {text-align: center;}

.create-card {
    position: relative;
    display: flex;
    justify-content:center;
    align-items:center;
    background: #ffffff40;
    color: white;
    box-shadow: 0 0 0 2px #fff;
    transition: 0.4s ease all;
    margin: 0;
    width: 100%;
    text-decoration: none;
    height: 100%;
    min-height: 234px;
}

@media screen and (max-width: 1500px) {
  .workflow-card {
     grid-column-end: span 4 !important; 
  }
}

@media screen and (max-width: 1200px) {
  .workflow-card {
     grid-column-end: span 6 !important; 
  }
  main div.container, main .page-title {
    padding-left: 2em !important;
    padding-right: 2em !important;
  }
}

@media screen and (max-width: 1000px) {
  .workflow-card {
     grid-column-end: span 6 !important; 
  }
}

@media screen and (max-width: 839px) {
  .workflow-card {
     grid-column-end: span 12 !important;
  }

  :root {
    --right-panel-width: 50px;
  }

  .siderail-item .item-text {
    top: -3em;
    left: 3.5em;
    visibility: visible;
    opacity: 1;
    text-align: left;
  }

  .siderail:hover .item-text {
    opacity: 1;
    visibility: visible;
  }

  .siderail-item.logo {
    height: 64px;
    width: 100%;
  }

  main.siderail-hover-expand {
    right: -100px;
  }

  .siderail {
    --right-panel-width: 50px;
    width: 100%;
  }
}

.page-title small {
    display: block;
}

@media screen and (max-width: 479px) {
    .workflow-actions {
      top: -12em !important;
    }

    .page-title h1 {
      font-size: 3em
    }

    .page-title small {
      display: inline;
      font-size: 0.8em;
    }

    .container > .mdc-layout-grid, .container > .mdc-layout-grid .mdc-layout-grid__cell--span-12 {
      padding-left: 0;
      padding-right: 0;
      margin: 0;
    }
}

.siderail-item .item-text, .mdc-typography--headline2, .mdc-typography--headline3, .mdc-typography--headline4 {
    font-family: 'Merriweather';
}

.siderail.siderail-closed {
}

a.action-item {
    text-decoration: none;
    color: unset;
}

.action-item-date {
    float: right;
    justify-self: self-end;
}

.actions {
    margin: 24px;
}

.mdc-list-item .mdc-layout-grid__inner {
    width: 100%;
}

main .container {
    padding: 1em 5em;
    transition: inherit;
}

main .page-title {
    padding: 4em 5em;
    color: white;
    background: rgb(53, 53, 53);
    padding-bottom: 18em;
    transition: 0.3s ease all;
}

.workflow-actions {
    position: relative;
    top: -15em;
    min-height: 600px;
}

.page-title-menu {
    float: right;
}

.page-title h1 {
    display: inline-block;
    margin: 0;
    max-width: 100%;
    width: 1200px;
}

.page-title-menu .mdc-button {
    margin: 0 0.3em;
    color: white;
}

.manage-data {
    display: inline-block;
}

.page-title-menu .mdc-button.mdc-ripple {}

.page-title-menu .action-add {
    color: black;
    background: white;
}

.page-title-menu .mdc-menu {
    top: 40px !important;
}

.action-item .action-info {
    display: block;
    position: relative;
    width: 90%;
}

.action-info .action-title {
    width: 14em;
    display: inline-block;
}

.action-info .action-description {
    display: inline-block;
    width: calc( 100% - 14em );
}


.action-item .mdc-list-item__graphic.material-icons {
    margin-left: 0;
    margin-right: 16px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.action-item .personalized_text {
    color: #a44cb3;
}

.action-item .personalized_json {
    color: #00838F;
}

.action-item .survey {
    color: #1E88E5;
}

.action-item .todo_list {
  color: #689F38
}

.siderail .siderail-item.action-sub {
    background: hsla(205, 100%, 17%, 1);
    box-shadow: inset 0px 13px 13px -13px #0000004f;
    position: relative;
    opacity: 0;
}

.siderail .siderail-item.action-sub.mdc-list-item--activated {opacity: 1;}

.siderail .siderail-item.action-sub:not(.mdc-list-item--activated):not(.action-sub-visible) {
    height: 0;
}

.siderail .siderail-item.action-sub.action-sub-visible {
    opacity: 1;
    background: hsla(205, 100%, 20%, 1);
}

.workflow-actions-search .mdc-text-field {
    height: 2em;
    padding-left: 16px;
    margin-top: 8px;
}

.btn-back {
    margin-right: 16px;
    top: -4px;
}

.step-content--item {
    display: none;
    padding: 1em;
}

.step-content--item.active {
    display: block;
}

.logo span.item-text {
    top: 0 !important;
}

.mdc-select.mdc-select--fullwidth {
    width: 100%;
}

.query-builder input.form-control {
    font-family: Roboto,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: .009375em;
    text-decoration: inherit;
    text-transform: inherit;
    align-self: flex-end;
    box-sizing: border-box;
    height: 100%;
    padding: 20px 12px 6px;
    transition: opacity 180ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.query-builder select.form-control {
    padding-left: 16px;
    padding-right: 26px;
    font-family: Roboto,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    line-height: 21px;
    font-weight: 400;
    letter-spacing: .009375em;
    text-decoration: inherit;
    text-transform: inherit;
    box-sizing: border-box;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    background-color: transparent;
    color: inherit;
    white-space: nowrap;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.query-builder .rule-filter-container:not(:empty):after, .query-builder .rule-operator-container:not(:empty):after {
    background: url("data:image/svg+xml,%3Csvg%20width%3D%2210px%22%20height%3D%225px%22%20viewBox%3D%227%2010%2010%205%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cpolygon%20id%3D%22Shape%22%20stroke%3D%22none%22%20fill%3D%22%23000%22%20fill-rule%3D%22evenodd%22%20opacity%3D%220.54%22%20points%3D%227%2010%2012%2015%2017%2010%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E") no-repeat center;
    left: auto;
    right: 8px;
    position: absolute;
    bottom: 0px;
    width: 24px;
    height: 24px;
    transition: -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
    content: " ";
    display: block;
}

.rule-filter-container, .rule-operator-container {
    position: relative;
}

#filter-edit input[type=text] {
    width: 100%;
    display: block;
}

#filter-edit .mdc-text-field {
    width: calc(50% - 10px);
    margin: 0 4px;
    margin-bottom: 10px;
    min-width: 300px;
}

#condition-list {
    height: 600px;
    overflow-y: scroll;
}

.mdc-button.mdc-button__danger {
    color: #F44336;
    background: #f4433626;
}

#filter-edit {
    clear: both;
    padding-top: 1em;
}

.mdc-typography--headlinetop {
    margin-top: 0;
    margin-bottom: 0.5em;
}