/* Material Design Theme */
:root {
  --mdc-theme-primary: #337ab7;
  --mdc-theme-secondary: #8fe8d8;
  --right-panel-width: 115px;
}

.mdc-theme--primary-bg-dark {
  background-color: #004e87;
}
.mdc-theme--primary-bg-light {
  background-color: #6ca9ea;
}
.mdc-theme--secondary-bg-dark {
  background-color: #5bb5a3;
}
.mdc-theme--secondary-bg-light {
  background-color: #c0ffff;
}

.mdc-theme--primary-body {
  background-color: #337ab7;
  padding: 0;
}

body {
  background-color: #337ab7;
  padding: 0 !important;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}

.siderail-item {
    display: block;
    width: 100%;
    height: 70px;
    padding: 0;
    /*transition: 0.3s ease all;*/
    text-decoration: none;
    box-sizing: border-box;
    border-right: 0px solid white;
}

.siderail-item .item-icon.material-icons {
    font-size: 64px;
    text-align: center;
    margin: 19px 0;
}

.siderail-open .siderail-item.mdc-list-item--activated {
    height: 105px;
    border-right-width: 5px;
}

.siderail-item .item-icon {
    display: block;
    color: #8fe8d8;
}

.siderail-item .item-icon img {
    width: 100%;
    height: auto;
}

.siderail-item .item-icon.material-icons {
    font-size: 34px;
    text-align: center;
    margin: 19px 0;
    width: var(--right-panel-width);
}

.siderail-item.mdc-list-item--activated .item-icon.material-icons {
  color: white;
}

.siderail-item .item-text {
  width: 100%;
  text-align: center;
  display: block;
  color: white;
  opacity: 0;
  visibility: hidden;
  position: relative;
  top: -2em;
  /*transition: 0.3s ease all;*/
  /* text-transform: uppercase; */
  font-weight: bold;
  font-size: 16px;
}

.siderail {
    width: var(--right-panel-width);
    margin: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    transition: 0.33s ease all;
}

main {
    width: calc(100% - var(--right-panel-width));
    height: 100%;
    position: absolute;
    right: 0;
    overflow-y: auto;
    transition: 0.33s ease all;
    box-sizing: border-box;
    margin: 0 auto;
}

/*JQuery QueryBuilder Without Bootstrap*/
.query-builder, .query-builder * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.query-builder {
  font-family: sans-serif;
}

.query-builder .hide {
  display: none;
}

.query-builder .pull-right {
  float: right !important;
}

.query-builder .btn {
  text-transform: none;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.query-builder .btn.focus, .query-builder .btn:focus, .query-builder .btn:hover {
  color: #333;
  text-decoration: none;
}

.query-builder .btn.active, .query-builder .btn:active {
  background-image: none;
  outline: 0px none;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset;
}

.query-builder .btn-success {
  color: #FFF;
  background-color: #5CB85C;
  border-color: #4CAE4C;
}

.query-builder .btn-primary {
  color: #FFF;
  background-color: #337AB7;
  border-color: #2E6DA4;
}

.query-builder .btn-danger {
  color: #FFF;
  background-color: #D9534F;
  border-color: #D43F3A;
}

.query-builder .btn-success.active, .query-builder .btn-success.focus,
.query-builder .btn-success:active, .query-builder .btn-success:focus,
.query-builder .btn-success:hover {
  color: #FFF;
  background-color: #449D44;
  border-color: #398439;
}

.query-builder .btn-primary.active, .query-builder .btn-primary.focus,
.query-builder .btn-primary:active, .query-builder .btn-primary:focus,
.query-builder .btn-primary:hover {
  color: #FFF;
  background-color: #286090;
  border-color: #204D74;
}

.query-builder .btn-danger.active, .query-builder .btn-danger.focus,
.query-builder .btn-danger:active, .query-builder .btn-danger:focus,
.query-builder .btn-danger:hover {
  color: #FFF;
  background-color: #C9302C;
  border-color: #AC2925;
}

.query-builder .btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.query-builder .btn-group > .btn {
  position: relative;
  float: left;
}

.query-builder .btn-group > .btn:first-child {
  margin-left: 0px;
}

.query-builder .btn-group > .btn:first-child:not(:last-child) {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.query-builder .btn-group > .btn:last-child:not(:first-child) {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.query-builder .btn-group .btn + .btn, .query-builder .btn-group .btn + .btn-group,
.query-builder .btn-group .btn-group + .btn, .query-builder .btn-group .btn-group + .btn-group {
  margin-left: -1px;
}

.query-builder .btn-xs, .query-builder .btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

/* Tweaks for JQuery QueryBuilder

/* Needed to fix rendering of jQuery QueryBuilder in Popup */
dt div.btn-group,
dt div.btn-group-vertical {
    display: flow-root;
}
/* Clause var op value*/
.query-builder .rules-list {
    text-align:left;
}



.siderail-open .siderail-item.mdc-list-item--activated .item-text, .siderail-item.logo .item-text {
    top: -0.5em;
    opacity: 1;
    visibility: visible;
    font-size: 1.1em;
}

.logo span.item-icon, .logo svg {
    height: 100%;
    text-align: center;
    width: var(--right-panel-width);
}

.workflow-card__primary.mdc-card__media {
    padding: 0 2em;
    color: white;
    text-decoration: none;
    background: rgb(49, 49, 49);
    transition: 0.3s ease background;
}

.siderail-item.logo {
    height: 105px;
}

.section-title {
    color: white;
    margin-bottom: 0;
}

.create-card .align-center {
}

.create-card {
    position: relative;
    display: flex;
    justify-content:center;
    align-items:center;
    background: #ffffff40;
    color: white;
    box-shadow: 0 0 0 2px #fff;
    transition: 0.4s ease all;
    margin: 0;
    width: 100%;
    text-decoration: none;
    height: 190px;
}

@media screen and (max-width: 1500px) {
  .workflow-card {
     grid-column-end: span 4 !important; 
  }
}

@media screen and (max-width: 1200px) {
  .workflow-card {
     grid-column-end: span 6 !important; 
  }
  main div.container, main .page-title {
    padding-left: 2em !important;
    padding-right: 2em !important;
  }
}

@media screen and (max-width: 1000px) {
  .workflow-card {
     grid-column-end: span 6 !important; 
  }
}

@media screen and (max-width: 839px) {
  .workflow-card {
     grid-column-end: span 12 !important;
  }

  :root {
    --right-panel-width: 50px;
  }

  .siderail-item .item-text {
    top: -3em;
    left: 3.5em;
    visibility: visible;
    opacity: 1;
    text-align: left;
  }

  .siderail:hover .item-text {
    opacity: 1;
    visibility: visible;
  }

  .siderail-item.logo {
    height: 64px;
    width: 100%;
  }

  main.siderail-hover-expand {
    right: -100px;
  }

  .siderail {
    --right-panel-width: 50px;
    width: 100%;
  }
}

.page-title small {
    display: block;
}

@media screen and (max-width: 479px) {
    .workflow-actions {
      top: -12em !important;
    }

    .page-title h1 {
      font-size: 3em
    }

    .page-title small {
      display: inline;
      font-size: 0.8em;
    }

    .container > .mdc-layout-grid, .container > .mdc-layout-grid .mdc-layout-grid__cell--span-12 {
      padding-left: 0;
      padding-right: 0;
      margin: 0;
    }
}

.siderail-item .item-text, .mdc-typography--headline2, .mdc-typography--headline3, .mdc-typography--headline4 {
    font-family: 'Merriweather';
}

.siderail.siderail-closed {
}

a.action-item {
    text-decoration: none;
    color: unset;
}

.action-item-date {
    float: right;
    justify-self: self-end;
}

.actions {
    margin: 24px;
}

.mdc-list-item .mdc-layout-grid__inner {
    width: 100%;
}

main .container {
    padding: 1em 5em;
    transition: inherit;
}

main .page-title {
    padding: 4em 5em;
    color: white;
    background: rgb(53, 53, 53);
    padding-bottom: 18em;
    transition: 0.3s ease all;
}

.workflow-actions {
    position: relative;
    top: -15em;
}

.page-title-menu {
    float: right;
}

.page-title h1 {
    display: inline-block;
    margin: 0;
}

.page-title-menu .mdc-button {
    margin: 0 0.3em;
    color: white;
}

.manage-data {
    display: inline-block;
}

.page-title-menu .mdc-button.mdc-ripple {}

.page-title-menu .action-add {
    color: black;
    background: white;
}

.page-title-menu .mdc-menu {
    top: 40px !important;
}

.action-item .action-info {
    display: block;
    position: relative;
    width: 90%;
}

.action-info .action-title {
    width: 14em;
    display: inline-block;
}

.action-info .action-description {
    display: inline-block;
    width: calc( 100% - 14em );
}
